<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">


<link href="http://fonts.googleapis.com/earlyaccess/hanna.css" rel="stylesheet">
<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/jejugothic.css">

</head>

<body>


<div id="header">
    <div class="logo_black">
        <a href="/">
            <img src="{% static 'images/logo.png' %}" alt="Logo">
        </a>
    </div>

    <div id="nav">
        <dl>
            <dd>
                <a href="{% url 'good:index'%}">
                    뜨끈뜨끈 한식당
                </a>
            </dd>
            <dd>
                <a href="{% url 'food:index'%}">
                    우리끼리 전원일기
                </a>
            </dd>
            <dd>
                <a href="{% url 'recipe:index' %}">
                    한식도전기
                </a>
            </dd>
        </dl>
    </div>
</div>

<div id="content">
    <div class="main_intro">
        <div class="intro">
            <dl>
                <dd class="intro_content">
                    우리 고유의 옛맛,<br>
                    선조의 지혜와 정신을<br>
                    오래도록 보존하고 계승하며<br>
                    함계 나누는 이곳에서는<br>
                    누구나 한 민족입니다.<br>

                </dd>
                <dd class="intro_img">
                    <img style="width:400px; height:300px;" src="{% static 'images/knocker.jpg'%}">
                </dd>
            </dl>
        </div>
    </div>

    <div class="menu_intro">
        <dl>
            <dt>우리의 제공거리</dt>

            <dd>
                <dl>
                    <dd class="btn_menu_1">
                        <a href="{% url 'good:index' %}">
                          <dl class="menu1">
                            <dd>뜨끈뜨끈 한식당 </dd>
                            <dd class="sub2">우리 동네 Hot한 식당이 궁금하다면?</dd>
                          </dl>
                        </a>
                    </dd>
                    <dd class="btn_menu_2">
                        <a href="{% url 'food:index' %}">
                          <dl class="menu1">
                            <dd>우리끼리 전원일기 </dd>
                            <dd class="sub2">가족, 연인, 친구와 함께 <br>
                            신나고 즐거운 체험하기</dd>
                          </dl>
                        </a>
                    </dd>
                    <dd class="btn_menu_3">
                        <a href="{% url 'recipe:index' %}">
                          <dl class="menu1">
                            <dd>엄마아빠 이거해줘! 한식도전기</dd>
                            <dd class="sub2">누구나 쉽게 따라할 수 있는 한식 요리법</dd>
                          </dl>
                        </a>
                        </a>
                    </dd>
                </dl>
            </dd>
        </dl>
    </div>
</div>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>
