.card-title{
  margin: 0 auto;
}

.card-title{
  color: rgb(255, 255, 255);
  margin: 0 auto;
  font-size: 33px;
}

.btn{
  float: right;
}

div.card{
  background-color: #C6BB9D;
}

div.card-block > h3 {
  font-size: 35px;
  color: rgb(255, 255, 255);
}

div.card-block > a {
  float: right;
  background-color: #C6BB9D;
  border-color: #fff;
  color: rgb(255, 255, 255));
}

div.card-block > a:hover {
  background: rgba(214, 101, 172, 0.5);
  border-color: rgb(6, 6, 6);
}
